// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";


@import "~bootswatch/dist/flatly/variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~bootswatch/dist/flatly/bootswatch";

$btn-padding-x-xs:  .20rem !default;
$btn-padding-y-xs:  .12rem !default;
$input-btn-line-height-xs: 1.1 !default;

@import "./components/button.scss";
@import "./components/table.scss";
@import "./components/response.scss";

.mb0 {
    margin-bottom: 0;
}

